* {
    box-sizing: border-box;
    --bar-color: #6366F1;
    --bar-bg-color: #B91C1C;
    --timer-color: hsl(215.39999999999998, 16.3%, 46.9%);
    --soft-white: hsl(210, 40%, 96.1%);
}

body {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif, cursive;
}

.main {
    position: relative;
    display: inline-block;
}
.container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.player {
    display: flex;
    justify-content: flex-end;
    background-color: var(--bar-bg-color);
    /* height: 30px; */
    width: 100%;
    border: 3px double var(--soft-white);
}
.player-bar {
    background-color: var(--bar-color);
    height: 30px;
    width: 100%;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.2rem;
    background-color: var(--timer-color);
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 15px;
    border-top: 3px double var(--soft-white);
    border-bottom: 3px double var(--soft-white);
}
.enemy {
    background-color: var(--bar-bg-color);
    width: 100%;
    border: 3px double var(--soft-white);

}
.enemy-bar {
    background-color: var(--bar-color);
    height: 30px;
    width: 100%;
}
.textOnScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-size: 2.5rem;
    display: none;
    justify-content: center;
    align-items: center;
}